<section class="{{ facts.class }}"{% if facts['background image'] != "" %} style="background-image: url({{ facts['background image'] }});"{% endif %}>
    <div class="cnt">
        <div class="row ha-center">
            <div class="col-xs-12 col-lg-10">
                <h2>
                    <small class="eyebrow">{{ facts.eyebrow }}</small>
                    {{ facts.title }}
                </h2>
                <div class="row ha-center">
                    <div class="co-xs-12 col-lg-8">
                        <p class="intro">{{ facts.text }}</p>
                    </div>
                </div>
                <ul class="list-facts">
                    {% for fact in facts.facts %}
                    {% include components/basic/partials/fact.html %}
                    {% endfor %}
                </ul>
                {% if facts.cta[0].link %}
                {% for cta in facts.cta %}
                {% include components/basic/button.html %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>