<section>
    <div class="cnt">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-lg-8">
                <h2 class="eybrow">{{ video.eyebrow }}</h2>
                <figure>
                    <div class="has-video">
                        <iframe src="https://player.vimeo.com/video/{{ video.video }}"></iframe>
                    </div>
                    <figcaption>{{ video.caption }}</figcaption>
                </figure>
                </figure>
            </div>
        </div>
    </div>
</section>