/*  --------------------------------------------------------------------------  *\

    FOOTER

\*  --------------------------------------------------------------------------  */
body>footer {
    padding: $gutterSm 0;
    background: $primary;
    color: $white;
    font-size: 1.2rem;
    
    > div {
        @media #{$mediaMd} {
            @include clearfix;
        }
    }
    
    a {
        color: $white;
        text-decoration: none;
        
        @include hover {
            color: $accent-1;
            text-decoration: underline;
        }
    }
    
    ul {
        li {
            padding: 0;
            
            &:before {
                display: none;
            }
        }
    }
    /*  ----------------------------------------------------------------------  *\

        COMPONENTS

    \*  ----------------------------------------------------------------------  */
    @import 'footer/components/_logo';
    @import 'footer/components/_separator';
    @import 'footer/components/_copyright';
    /*  ----------------------------------------------------------------------  *\

        NAVIGATIONS

    \*  ----------------------------------------------------------------------  */
    @import 'footer/navs/_social';
    @import 'footer/navs/_sitemap';
}