/*  --------------------------------------------------------------------------  *\

    SECTIONS

\*  --------------------------------------------------------------------------  */
section {
    padding: $gutter 0;
    
    @media #{$mediaMd} {
        padding: ($gutter * 1.5) 0;
    }
    
    @media #{$mediaLg} {
        padding: ($gutter * 2) 0;
    }
    
    &.sm {
        padding: $gutterSm 0 $gutter;
    }
    
    &.lg {
        padding: ($gutter * 1.5) 0;

        @media #{$mediaMd} {
            padding: ($gutter * 3) 0;
        }

        @media #{$mediaLg} {
            padding: ($gutter * 4) 0;
        }
    }
    
    > div {
        margin: 0 auto;
        padding: 0 #{$gutterSm * .5};
        max-width: $siteWMx;

        @media #{$mediaMd} {
            padding: 0 #{$gutter * .5};
        }
        
        @include setW();
    }
}