/*  --------------------------------------------------------------------------  *\

    HEADER - NAVIGATION - DROPDOWN

\*  --------------------------------------------------------------------------  */
nav {
    @include position(fixed, null, (left, top), (100%, 6.6rem), translate(0, 0));
    background: $white;
    width: 100%;
    height: calc(100vh - 6.6rem);
    @include transition(transform .25s);
    
    @media #{$mediaFullHeader} {
        @include position(static, null, (left, top), (auto, auto), none);
        background: none;
        width: auto;
        height: auto;
    }
}


.toggle {
    &:checked {
        ~ nav {
            @include transform(translate(-100%, 0));
        }
    }
}

.main {
    
    input[type="checkbox"] {
        @include srOnly;
    }
    
    a, label, button {
        font-family: futura-pt-bold, Helvetica, sans-serif;
        font-weight: 700;
        color: $primary;
        
        @include hover {
            color: $accent-1;
        }
    }
    
    @media #{$mediaToggleHeader} {
        padding: 2rem 2rem 0;
        
        > li {
            @include flex(space-between, stretch, null, row nowrap);
            border-bottom: .1rem solid $tertiary;
            
            > a {
                display: block;
                padding: 1.5rem 3rem 1.5rem 1rem;
                @include flex(0, 1, auto);
                width: 100%;
            }
            
            > label {
                @include flexItem(0, 0, auto);
                @include flex(center, center, null);
                width: 3rem;
                color: $accent-1;
            }
        
            > ul {
                @include position(fixed, 100, (left, top), (100vw, 0));
                height: calc(100vh - 7.7rem);
                width: 100%;
                padding: 2rem;
                background: $white;
                overflow: auto;
                @include transition((transform .25s));
                
                > li {
                    padding: 0 1.5rem;
                    
                    + li {
                        border-top: .1rem solid $secondary-light;
                        padding: 1.5rem 1.5rem 0;
                        margin: 1.5rem 0 0;
                    }
                }
            }
        }
        
        ul {
            
            li {
                
                + li {
                    margin: 1rem 0 0;
                }
            }
            
            span:not(.fas) {
                font-weight: 500;
                color: $secondary;
                text-transform: uppercase;
            }
            
            .fas {
                margin-right: 1.5rem;
                color: $accent-1;
            }
            
            ul {
                margin: 2rem 0 0;
            }
        }
        
        .dt-only {
            @include srOnly();
        }
        
        input[type="checkbox"] {
            &:checked {
                ~ ul {
                    @include transform(translate(-100%, 0));
                }
            }
        }
    }
    
    @media #{$mediaFullHeader} {
        @include flex(space-between, stretch, null, row nowrap);
        white-space: nowrap;
        
        label {
            
            &:not(:focus) {
                @include srOnly();
            }
        }
        
        > li {
            @include position(relative, null);
            
            > a {
                display: block;
                padding: 1.5rem;
            }
        
            > ul {
                @include position(absolute, null, (left, top), (50%, 100%), translate(-50%, 0));
                display: none;
                background: $white;
                @include boxShadow(0 0 2.5rem rgba($black, .25));
                
                > li {
                    
                    &:first-child {
                        display: none;
                    }
                }
            }
                
            span {
                display: block;
                text-transform: uppercase;
                padding: 0 0 3rem;
                white-space: nowrap;
            }
            
            em {
                display: block;
                white-space: normal;
            }
            
            &.solutions, &.products {
                position: static;
                
                > ul {
                    @include boxShadow(none);
                    width: 100%;
                    max-width: $siteWMx;
                
                    > li {
                        padding: 3rem;
                        @include flexItem(1, 0, auto);
                        max-width: 21.5rem;
                        width: 33.333%;
                        min-width: 25%;

                        + li {
                            border-left: .1rem solid $secondary-light;
                        }
                    
                        &:nth-child(2) {
                            border-left: none;
                        }
                        
                        li {
                            + li {
                                margin: 1.5rem 0 0;
                            }
                        }
                    }
                }
                
                
                &:hover {
                    > ul {
                        @include flex(center, stretch, null, row nowrap);
                    }
                }
            }
        }
    }
}