{% assign pages = site.data.menus.main %}
{% if include.data %}
    {% assign pages = include.data %}
{% endif %}

<ul{% if include.class %} class="{{ include.class }}"{% endif %}>
    {% for root in pages %}
    <li{% if root.class %} class="{{ root.class }}"{% endif %}>
        {% if root.link %}
        <a href="{{ root.link }}">
            {% if root.icon %}
            <span class="{{ root.icon }}"></span>
            <span class="sr-only">{{ root.name }}</span>
            {% else %}
            {{ root.name }}
            {% endif %}
        </a>
        {% if root.description %}
        <em>{{ root.description }}</em>
        {% endif %}
        {% if root.children %}
        <input type="checkbox" id="menu{{ root.name | remove: " " }}" />
        <label for="menu{{ root.name | remove: " " }}">
            <span class="dt-only">Show {{ root.name }} Subpages</span>
            <span class="fas fa-chevron-right"></span>
        </label>
        {% endif %}
        {% else %}
        <input type="checkbox" id="menu{{ root.name | remove: " " }}" />
        <label for="menu{{ root.name | remove: " " }}">
            {{ root.name }}
        </label>
        {% endif %}
        {% if root.children %}
        <ul>
            {% if include.class == "main" %}
            <li>
                <label for="menu{{ root.name | remove: " " }}">
                    <span class="fas fa-chevron-left"></span>
                    {{ root.name }}
                </label>
            </li>
            {% endif %}
            {% for child in root.children %}
            <li>
                {% if child.link %}
                <a href="{{ child.link }}">{% if child.icon %}<img src="{{ child.icon }}" alt="Icon for {{ child.name }}" />{% endif %}{{ child.name }}</a>
                {% else %}
                <span>{{ child.name }}</span>
                {% endif %}
                {% if child.description %}
                <em>{{ child.description }}</em>
                {% endif %}
                {% if child.children %}
                <ul>
                    {% for gc in child.children %}
                    <li>
                        <a href="{{ gc.link }}">{% if gc.icon %}<img src="{{ gc.icon }}" alt="Icon for {{ gc.name }}" />{% endif %}{{ gc.name }}</a>
                        {% if gc.description %}
                        <em>{{ gc.description }}</em>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>