/*  --------------------------------------------------------------------------  *\

    FOOTER - NAV - SOCIAL

\*  --------------------------------------------------------------------------  */
.social {
    margin: 0 auto ($gutterSm * .75);
    font-size: 1.25em;
    @include flex(center, center, null, row nowrap);
    
    li {
        margin: 0 1.25rem;
    }
}