/*  --------------------------------------------------------------------------  *\

    MEDIA OBJECTS

    All of our media elements should be wrapped in a <figure> tag to help provide 
    context to the element.

\*  --------------------------------------------------------------------------  */
video, img, picture {
    // Set the base styles for the media element here
    display: block;
    width: 100%;
    height: auto;
}
figure {
    // Set the base styles for majority figure tags here
    margin: 0 0 #{$gutterSm};
    
    @media #{$mediaMd} {
        margin: 0 0 #{$gutter};
    }
    
    .has-video {
        @include position(relative, null);
        padding-top: 56.25%;
        
        iframe, video {
            @include position(absolute, null, (left, top), (0, 0));
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    
    > figcaption {
        padding: ($gutterSm * .5) 0;
        font-size: 1.4rem;
        
        :last-child {
            // Set the last child to have a margin bottom of 0 to follow the 
            // padding set in the figcaption properly
            margin-bottom: 0;
        }
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}
/*  ----------------------------------------------------------------------  *\

    SIZING OPTIONS

\*  ----------------------------------------------------------------------  */    
@import 'sizing/_columns';