<section class="bio bg-secondary">
    <div class="cnt">
        <div class="row ha-center">
            <div class="col-xs-12 col-lg-10">
                <h2 class="eyebrow">{{ author["about headline"] }}</h2>
                {% for author in author.authors %}
                <div class="author">
                    <img src="{{ author.image }}" alt="Headshot of {{ author.name }}" class="col-md-3 float-left" />
                    <div>
                        <h3 class="h2">{{ author.name }}</h3>
                        <p>{{ author["bio text"] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>