<nav class="pagination"
    data-jplist-control="pagination"
    data-group="resources"
    data-items-per-page="9"
    data-current-page="0"
    data-name="pagination1">
    <div class="jplist-holder" data-type="pages">
        <button type="button" data-type="page">{pageNumber}</button>
    </div>
    <button type="button" data-type="prev">
        <span class="fas fa-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button type="button" data-type="next">
        <span class="fas fa-chevron-right"></span>
        <span class="sr-only">Next</span>
    </button>
</nav>