/*  --------------------------------------------------------------------------  *\

    CARDS

    These elements are used to display content, most likely in a sidebar, column 
    in the body of the page, or as a slide in a carousel.

    They can include images, icons, buttons, and text.

\*  --------------------------------------------------------------------------  */
.card {
    @include flex(space-between, flex-start, null, column nowrap);
    border: .1rem solid $tertiary-light;
    background: $white;
    padding: #{$gutterSm};
    text-decoration: none;
    @include boxShadow((0 0 0 rgba($primary, .25)));
    
    @include hover {
        border-color: $white;
        @include boxShadow((0 0 ($gutterSm * .5) rgba($primary, .25)));
    }
    
    /*---------------------*\
      IMPORT STYLES FOR CARD CONTENT STYLING
    
      Comment out any alterations that will not be used on your site.
      This will reduce the file size by removing unused definitions.
    @import 'cards/size/_lg';
    \*---------------------*/
    @import 'cards/size/_sm';
    /*---------------------*\
      IMPORT STYLES FOR CARD CONTENT STYLING
    
      Comment out any alterations that will not be used on your site.
      This will reduce the file size by removing unused definitions.
    \*---------------------*/
    @import 'cards/copy/_copy';
    @import 'cards/copy/_article';
}