/*  --------------------------------------------------------------------------  *\

    CARD - COPY - ARTICLE SPECIFIC ELEMENTS

\*  --------------------------------------------------------------------------  */
.type {
    @include flex(flex-start, center, null, row nowrap);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

.by {
    color: $secondary;
}