/*  --------------------------------------------------------------------------  *\

    CARD - COPY - COPY ELEMENTS

\*  --------------------------------------------------------------------------  */
p {
    
    &:last-child {
        margin-bottom: 0;
    }
}

.fas {
    align-self: flex-end;
    color: $accent-1;
}