/*  --------------------------------------------------------------------------  *\

    Buttons

    These are used throughout the website to create a call to action for another element like
    submitting a form, linking to another page, or linking to another element on the same page.
    GENERIC BUTTON STYLES
    This sets up the base of all our styles, it's also the btn-default styles

\*  --------------------------------------------------------------------------  */
[class*="btn-"] {
    display: block;
    width: 100%;
    padding: 1.5rem 3rem;
    margin: 0;
    border: .2rem solid $accent-1;
    border-radius: 2.7rem;
    background: $accent-1;
    color: $white;
    font-family: futura-pt-bold, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    transition: all .25s;
    
    @include hover {
        border-color: currentColor;
        background: $white;
        color: $accent-1;
    }
    
    @media #{$mediaMd} {
        display: inline-block;
        width: auto;
        padding: 1.5rem 4.75rem;
    }
    
    @media #{$mediaLg} {
        padding: 1.5rem 6.5rem;
    }
}
/*  --------------------------------------------------------------------------  *\

    Button Color Options

\*  --------------------------------------------------------------------------  */
@import 'colors/_primary';
@import 'colors/_secondary';
@import 'colors/_tertiary';
@import 'colors/_text';
@import 'colors/_success';
@import 'colors/_danger';
@import 'colors/_warning';