/* CSS Document */
.list-facts, .grid-facts {
    
    @media #{$mediaMd} {
        @include flex(space-between, stretch, null, row wrap);
    }
    
    li {
        padding: 0;
        
        &:before {
            display: none;
        }
        
        @media #{$mediaMd} {
            margin: 0 ($gutterSm * .5);
        
            + li {
                margin: 0 ($gutterSm * .5);
            }
        }
    }
}
.list-facts {
    margin: $gutter ($gutterSm * -.5);
    
    li {
        
        @media #{$mediaMd} {
            @include flexItem(1, 0, auto);
            width: calc(33.333% - #{$gutterSm});
            min-width: calc(25% - #{$gutterSm});
            max-width: calc(50% - #{$gutterSm});
            
            &:nth-child(n + 5) {
                margin-top: $gutterSm;
            }
        }
    }
}

.grid-facts {
    margin: 0 ($gutterSm * -.5);
    
    li {
        margin: 0 ($gutterSm * .5);
        width: calc(50% - #{$gutterSm});
        
        &:nth-child(n + 3) {
            margin-top: $gutterSm;
        }
    }
}