/*  --------------------------------------------------------------------------  *\

    COPY - LISTS - UNORDERED

\*  --------------------------------------------------------------------------  */
ul {
    
    li {
        
        &:before {
            width: .4rem;
            height: .4rem;
            background: $secondary;
            border-radius: .4rem;
            content: "";
        }
    }
    
    
    ul {
        
        li {
            
            &:before {
                width: .5rem;
                height: .2rem;
                border-radius: 0;
                background: $accent-2;
            }
        }
        
        ul {
            
            li {
                
                &:before {
                    width: .4rem;
                    height: .4rem;
                    background: $secondary;
                }
            }
            
        }
    }
}