/*  --------------------------------------------------------------------------  *\

    BREADCRUMB

\*  --------------------------------------------------------------------------  */
&.breadcrumb {
    padding: ($gutterSm * .5) 0;
    border-bottom: .1rem solid $tertiary-light;
    color: $accent-3;
    margin: 0 auto;
    max-width: $siteWMx;

    @include setW();
    
    ol {
        @include flex(flex-start, center, null);
        
        @media #{$mediaLg} {
            padding: 0 0 0 calc(8.333% + #{$gutterSm * .5});
        }
    }
    
    a {
        color: $secondary;
        
        @include hover {
            color: $accent-1;
            text-decoration: underline;
        }
    }
    
    .fas {
        margin: 0 .5rem 0 0;
        color: $accent-1;
    }
}