/*  --------------------------------------------------------------------------  *\

    PAGINATION

\*  --------------------------------------------------------------------------  */
&.pagination {
    @include flex(flex-end, center, null, row nowrap);
    margin: ($gutterSm * 1.5) 0 0;
    
    button {
        padding: 0 1rem;
        color: $secondary;
        
        @include hover {
            color: $accent-1;
        }
    }
    
    .jplist-holder {
        margin: 0 1.5rem 0 0;
    }
    
    .jplist-selected {
        color: $primary;
        text-decoration: underline;
    }
    
    .jplist-disabled {
        color: $tertiary-light;
    }
}