/*  --------------------------------------------------------------------------  *\

    NAV - QUICK LINKS

\*  --------------------------------------------------------------------------  */
&.quick-links {
    ul {
        @media #{$mediaMd} {
            @include flex(space-between, stretch, null, row wrap);
            margin: 0 ($gutter * -.25);
        }
    }
    
    li {
        padding: 0;
        
        + li {
            margin: 1.5rem 0 0;
        }
        
        @media #{$mediaMd} {
            @include flexItem(0, 0, auto);
            width: calc(50% - #{$gutter * .5});
            margin: 0 ($gutter * .25);
            
            + li {
                margin: 0 ($gutter * .25);
            }
            
            &:nth-child(n + 3) {
                margin-top: ($gutter * .5);
            }
        }
    }
    
    img {
        float: left;
        width: 4rem;
        margin: 0 2rem 0 0;
    }
    
    h3 {
        float: left;
        margin: 0;
        line-height: 3rem;
        @include transition(opacity .25s linear);
    }
    
    .fas {
        float: right;
        line-height: 3rem;
    }
    
    p {
        @include position(absolute, null, (left, top), (50%, 50%), translate(-50%, -50%));
        width: calc(100% - 2rem);
        font-size: 1.4rem;
        opacity: 0;
        @include transition(opacity .25s linear);
    }
    
    a {
        @include position(relative);
        display: block;
        @include clearfix();
        padding: 1.5rem 1rem;
        background: $primary-light;
        color: $primary;
        @include boxShadow(0 0 0 rgba($primary, .0));
        
        @include hover {
            @include boxShadow(0 0 #{$gutter * .5} rgba($primary, .5));
            
            h3 {
                opacity: 0;
            }
            
            p {
                opacity: 1;
            }
        }
    }
    
    @media #{$mediaMd} {
        text-align: center;
        
        img, h3 {
            margin: 0 auto 3rem;
        }
        
        img, h3, .fas {
            float: none;
        }
        
        .fas {
            color: $accent-1;
        }
    }
}