/*  --------------------------------------------------------------------------  *\

    ACCORDION - INDICATOR - PLUS/MINUS TOGGLE

\*  --------------------------------------------------------------------------  */
> dt {

    > button {

        &:before, &:after {
            @include position(absolute, 1000, (left, top), (100%, 50%));
            width: 2rem;
            height: .4rem;
            background: $accent-1;
            transition: all .25s;
            content: "";
        }

        &:before {
            @include transform(translate(-100%, -50%));
        }

        &:after {
            @include transform(translate(-100%, -50%) rotate(90deg));
        }

        &[aria-expanded="true"] {

            &:after {
                @include transform(translate(-100%, -50%));
            }
        }
        
        @include hover {
            &:before, &:after {
                background: $accent-3;
            }
        }
    }
}