<section class="cta bottom {{ page.bottomCTA.class }}">
    <div class="cnt">
        <div>
            <h2>
                <small class="eyebrow">{{ page.bottomCTA.eyebrow }}</small>
                {{ page.bottomCTA.title }}
            </h2>
            {% for cta in page.bottomCTA.cta %}
            <a href="{{ cta.link }}" class="{% if cta.class %}{{ cta.class }}{% else %}btn-primary{% endif %}">{{ cta.copy }}</a>
            {% endfor %}
        </div>
        <img src="{{ page.bottomCTA.image }}" alt="Alt text here" />
    </div>
</section>