<section class="cta bottom {{ page.bottomCTA.class }}">
    <div class="cnt">
        <div>
            <h2>
                <small class="eyebrow">{{ page.bottomCTA.eyebrow }}</small>
                {{ page.bottomCTA.title }}
            </h2>
            {% if page.bottomCTA.cta.link %}
            <a href="{{ page.bottomCTA.cta.link }}" class="{% if page.bottomCTA.cta.class %}{{ cta[class] }}{% else %}btn-primary{% endif %}">{{ page.bottomCTA.cta.copy }}</a>
            {% endif %}
        </div>
        <img src="{{ page.bottomCTA.image }}" alt="Alt text here" />
    </div>
</section>