/*  --------------------------------------------------------------------------  *\

    Button - Primary

\*  --------------------------------------------------------------------------  */
.btn-primary {
    border: .2rem solid $accent-1;
    background: $accent-1;
    color: $white;
    
    @include hover {
        border-color: $accent-1;
        background: $white;
        color: $accent-1;
    }
}