/*  --------------------------------------------------------------------------  *\

    Button - Secondary

\*  --------------------------------------------------------------------------  */
.btn-secondary {
    border: .2rem solid $primary;
    background: $white;
    color: $accent-1;
    
    @include hover {
        border-color: $accent-3;
        background: $accent-3;
        color: $white;
    }
}