/*  --------------------------------------------------------------------------  *\

    HEADER - NAVIGATION - TOGGLE

\*  --------------------------------------------------------------------------  */
& { 
    .toggle-trigger {
        $barH: .4rem;
        @include position(absolute, null, (right, top), (0, 0));
        width: 7.5rem;
        height: 100%;
        border-left: .1rem solid $secondary-light;
        
        .bar {
            display: block;
            @include position(absolute, null, (left, top), (50%, 50%));
            height: $barH;
            width: 2rem;
            background: $primary;
            border-radius: ($barH / 2);
            @include transition(transform .25s);
            
            &:nth-child(1) {
                @include transform(translate(-50%, -50%));
            }
            
            &:nth-child(2) {
                @include transform((translate(-50%, -50%) translate(0, -200%)));
            }
            
            &:nth-child(3) {
                @include transform((translate(-50%, -50%) translate(0, 200%)));
            }
        }
        
        @media #{$mediaFullHeader} {
            display: none;
        }
    }
    
    .toggle {
        @include srOnly();
        
        @media #{$mediaFullHeader} {
            display: none;
        }
        
        &:checked {
            + .toggle-trigger {
                background: $tertiary-light;
                
                .bar {
                    &:nth-child(1) {
                        width: 0;
                    }
                    
                    &:nth-child(2) {
                        @include transform((translate(-50%, -50%) rotate(45deg)));
                    }
                    
                    &:nth-child(3) {
                        @include transform((translate(-50%, -50%) rotate(-45deg)));
                    }
                }
            }
        }
    }
}