/*  --------------------------------------------------------------------------  *\

    FOOTER - SEPARATOR

\*  --------------------------------------------------------------------------  */
hr {
    background: $white;
    height: .1rem;
    margin: 1.5rem 0;
}