---
layout: page
---

<header class="hero resource bg-primary-lt">
    <div class="cnt">
        <div class="row ha-center">
            <div class="col-xs-12 col-md-8">
                <p>{% for cat in page.categories %}{{ cat }}{% endfor %}{% if page.tags %} &mdash; {% for tag in page.tags %}{{ tag }}{% endfor %}{% endif %}</p>
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col-xs-12 col-md-2">
            </div>
        </div>
    </div>
</header>
<nav class="breadcrumb">
    <ol>
        <li><a href="#"><span class="fas fa-chevron-left"></span> Back to [Previous Page]</a></li>
    </ol>
</nav>
<section class="sm">
    <div class="cnt">
        <div class="row ha-right">
            <div class="col-xs-12 col-lg-11">
                {% include components/resource/res-info.html %}
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        {{ content }}
                    </div>
                    <div class="col-xs-12 col-md-4">
                        {% if form.id != nil %}
                        {% assign form = page.form %}
                        {% include components/resource/form.html %}
                        {% else %}
                        {% include components/resource/related.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if page.author.authors[0].name != '' %}
{% assign author = page.author %}
{% include components/resource/author-bio.html %}
{% endif %}