---
layout: default
---
{% include components/basic/hero.html %}
<script src="/assets/js/jplist.min.js"></script>
<section>
    <div class="cnt">
        <nav class="filters">
            <h2 class="h5">Filter by subject</h2>
            <ul>
                {% for category in site.categories %}
                <li>
                    <button
                        data-jplist-control="buttons-text-filter"
                        data-path=".type"
                        data-group="resources"
                        name="type"
                        data-mode="radio"
                        data-text="{{ category[0] }}"
                        data-selected="false">
                        {{ category[0] }}
                    </button>
                </li>
                {% endfor %}
                <li>
                    <button
                        data-jplist-control="buttons-text-filter"
                        data-path="default"
                        data-group="resources"
                        name="type"
                        data-mode="radio">
                            All
                    </button>
                </li>
            </ul>
        </nav>
        <div role="feed" class="tiles" data-jplist-group="resources">
            {% for resource in site.posts %}
            <a href="{{ resource.url }}" class="card" data-jplist-item>
                <p class="type">{{ resource.categories }}</p>
                <h2 class="h5">{{ resource.title }}</h2>
                <span class="fas fa-arrow-right"></span>
            </a>
            {% endfor %}
        </div>
        <nav class="pagination"
            data-jplist-control="pagination"
            data-group="resources"
            data-items-per-page="9"
            data-current-page="0"
            data-name="pagination1">
            <div class="jplist-holder" data-type="pages">
                <button type="button" data-type="page">{pageNumber}</button>
            </div>
            <button type="button" data-type="prev">‹</button>
            <button type="button" data-type="next">›</button>
        </nav>
    </div>
</section>
{{ content }}
<script>
    jplist.init();
</script>