/*  --------------------------------------------------------------------------  *\

    HEROES > TYPE > HOME

\*  --------------------------------------------------------------------------  */
&.home {
    .row {
        flex-flow: row nowrap;
    }
        
    .offset {
        margin: 0 -8.333% 0 0;
    }
    
    .cnt {
        @include position(relative, null);
        
        picture {
            width: calc(100% + #{$gutter * 2});
            margin: 0 ($gutter * -1) 0 0;
        }
    }
}