/*  --------------------------------------------------------------------------  *\

    HEROES > TYPE > RESOURCE

\*  --------------------------------------------------------------------------  */
&.resource {
    padding: $gutter 0;
    
    @media #{$mediaMd} {
        padding: ($gutter * 1.5) 0;
    }
    
    @media #{$mediaLg} {
        padding: ($gutter * 2) 0;
    }
    
    .cnt {
        :last-child {
            margin: 0;
        }
    }
}