/*  --------------------------------------------------------------------------  *\

    HEROES > TYPE > TIER 1

\*  --------------------------------------------------------------------------  */
&.tier-1 {
    padding: 0;
    
    .cnt {
        @include position(relative, null);
        
        picture {
            width: calc(100% + #{$gutter});
            margin: 0 ($gutter * -1) 0 0;
        }
    }
    
    @media #{$mediaLg} {
        .row {
            > :first-child {
                padding: ($gutterSm) ($gutter * .5);
            }
        }
    }
}