/*  --------------------------------------------------------------------------  *\

    COPY - ALIGNMENTS

\*  --------------------------------------------------------------------------  */
.ta-left {
    text-align: left !important;
}
.ta-center {
    text-align: center !important;
}
.ta-right {
    text-align: right !important;
}
.flex-center {
    justify-content: center;
}