/*  --------------------------------------------------------------------------  *\

    COPY - BLOCK ELEMENTS

\*  --------------------------------------------------------------------------  */
p, ul, ol, dl, table, blockquote, figure {
    padding: 0;
    margin: 0 0 1.5em;
}
hr {
    margin: #{$gutter} auto;
    height: .2rem;
    max-width: $siteWMx;
    background: $secondary;
    border: none;
}
.intro {
    font-size: 1.6rem;
    font-weight: 500;
    
    @media #{$mediaMd} {
        font-size: 1.8rem;        
    }
    
    @media #{$mediaMd} {
        font-size: 2rem;
    }
}
.disclaimer {
    color: $tertiary;
    font-size: $copyFS * .75;
}